## Ignore.xmKeyFile  (contains dummy key, but potential real key should probably never be committed)
.xmKeyFile*
## Don't push ximeraserve  (Obsolete now: till 11/2024 used instead of .xmKeyFile)
*.ximeraserve*
#
## Graphics - recommend to be ignored, as TikZ-generated pictures should NOT be committed
*.svg
*.png
*.svg
*.pdf
## Folder xmPictures is in the graphicspath, and should contain the pictures used in \includegraphics
## So png,svg,pdf,jpg in (subfolders of) xmPictures presumably must be committed
## but everything else in there should be ignored
xmPictures/**
!xmPictures
!xmPictures/**/
!xmPictures/**/*.jpg
!xmPictures/**/*.svg
!xmPictures/**/*.pdf
!xmPictures/**/*.png
!xmPictures/**/*.tex
## Note: capital JPG/PDF/PNG should NOT be used ...
!xmPictures/**/*.JPG
!xmPictures/**/*.SVG
!xmPictures/**/*.PDF
!xmPictures/**/*.PNG
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.DS_Store

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
# *.eps
*.pdf
!*-pics.pdf
!ximera-downloads/**


## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]

## tex4npm / Node build output
node_modules/
.tex4npm/
dist/

## tex4ht side-products emitted beside source files by tex4npm
*.auxlock
*.idv
*.ids
*.lg
/test-suite-xourse.html
/testSuite/*.html
